<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hunter_lc.idcard">

    <!-- wifi internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 添加悬浮窗口权限 -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <application
        android:name=".farkas.tdk.app.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RecyclerViewFragment" />
        <activity android:name=".IdCardDetailActivity" />
        <activity
            android:name=".farksa.tdk.ocr.CameraMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".KeyActivity"
            android:label="发送选项"
            android:theme="@style/AppBaseTheme" />
        <activity android:name=".RoomSelectionActivity" />
        <activity
            android:name=".SpinnerActivity"
            android:theme="@style/AppBaseTheme">

        </activity>
        <activity
            android:name=".farksa.tdk.ocr.NextActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="com.hunter_lc.idcard.farkas.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RoomDetailActivity">

        </activity>
        <activity android:name=".RegisterActivity"
                  android:theme="@style/AppBaseTheme"
                  android:label="用户注册">

        </activity>
    </application>

</manifest>